In [1]:
import os

In [2]:
%pwd

'c:\\Users\\lenovo\\Documents\\mlopsetl_project\\ETL_pipeline_mlproject\\research'

In [4]:
os.chdir("../")
%pwd

'c:\\Users\\lenovo\\Documents\\mlopsetl_project\\ETL_pipeline_mlproject'

In [5]:
import pandas as pd
data = pd.read_csv("dataset/data.csv")

In [6]:
data.head()

    1   89  66  23   94  28.1  0.167  21  0
0   0  137  40  35  168  43.1  2.288  33  1
1   5  116  74   0    0  25.6  0.201  30  0
2   3   78  50  32   88  31.0  0.248  26  1
3  10  115   0   0    0  35.3  0.134  29  0
4   2  197  70  45  543  30.5  0.158  53  1